.button {
  background-color: white;
  border: solid 2px lightgray;
  border-radius: 6px;
  padding: 10px 20px;

  &:hover {
    border: solid 2px black
  }
}

.disabled {
  opacity: 0.4;

  &:hover {
    border: solid 2px lightgray
  }
}
